
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.login-4G3 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0.9rem 1.039rem 4.332rem 1.039rem;
  width: 100%;

  .auto-group-jhph-NnX {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 1.961rem 7.735rem 0rem;
    width: calc(100% - 1.9612rem);

    .portfolio-hpo {
      margin: 0.065rem 25.861rem 0rem 0rem;
      font-weight: 700;
      line-height: 0.8859375;
      color: #2d2d2d;
      font-family: Roboto Condensed, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 4rem;
    }
    .frame-361-QDR {
      column-gap: 5rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 0.465rem;
      display: flex;

      .home-wUF {
        font-weight: 400;
        line-height: 0.9966796637;
        color: #2d2d2d;
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 3.2rem;
      }
      .about-Uyy {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.9966796637;
        color: #2d2d2d;
        font-family: Roboto Condensed, 'Source Sans Pro';
      }
      .work-pY3 {
        flex-shrink: 0;
        display: flex;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.9966796637;
        color: #2d2d2d;
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
      }
      .blog-Abu {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.9966796637;
        color: #2d2d2d;
        font-family: Roboto Condensed, 'Source Sans Pro';
      }
      .contact-iNX {
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.9966796637;
        color: #2d2d2d;
      }
      .login-fYf {
        line-height: 0.9966796637;
        color: #0d478c;
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 3.2rem;
        font-weight: 400;
      }
      .sign-up-28K {
        font-weight: 400;
        line-height: 0.9966796637;
        color: #2d2d2d;
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 3.2rem;
      }
    }
  }
  .loin-MAb {
    height: 68.1678rem;
    border-radius: 4rem;
    box-shadow: 0 0.4rem 7rem rgba(0, 0, 0, 0.1000000015);
    background-color: rgba(255, 255, 255, 0.3000000119);
    flex-shrink: 0;
    margin-right: 2.5612rem;
    box-sizing: border-box;
    padding: 12.894rem 12rem 14.008rem 12rem;
    width: 64.1rem;
    backdrop-filter: blur(1.5rem);

    .fileds-G2f {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .login-Pd5 {
        color: #0d478c;
        white-space: nowrap;
        font-size: 3.8rem;
        font-weight: 400;
        line-height: 1.1725;
        flex-shrink: 0;
        margin: 0rem 0rem 1.676rem 0.1rem;
        display: flex;
        font-family: Roboto Condensed, 'Source Sans Pro';
      }
      .email-JEF {
        display: flex;
        font-weight: 400;
        flex-shrink: 0;
        margin-bottom: 0.4562rem;
        line-height: 1.1725;
        color: #2a1e17;
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.4rem;
      }
      .auto-group-fsl7-2vw {
        display: flex;
        font-size: 1.4rem;
        font-family: Roboto Condensed, 'Source Sans Pro';
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        font-weight: 400;
        line-height: 1.1725;
        color: #bcbec0;
        border-radius: 0.5rem;
        margin: 0rem 0rem 2.416rem 0.1rem;
        box-sizing: border-box;
        padding: 1.191rem 2.2rem 1.191rem 2.2rem;
        width: 40rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .password-ruy {
        margin-bottom: 0.4562rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
        line-height: 1.1725;
        color: #2a1e17;
        font-family: Roboto Condensed, 'Source Sans Pro';
      }
      .auto-group-6chh-CU3 {
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        padding: 1.191rem 2.2rem 1.191rem 2.2rem;
        width: 40rem;
        border-radius: 0.5rem;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.1725;
        font-size: 1.4rem;
        color: #bcbec0;
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        margin: 0rem 0rem 1.209rem 0.1rem;
        display: flex;
      }
      .forgot-password-3Dm {
        margin: 0rem 0rem 3.25rem 0.1rem;
        font-size: 1.2rem;
        color: #2a1e17;
        font-family: Roboto Condensed, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        font-weight: 500;
        line-height: 1.1725;
        white-space: nowrap;
      }
      .auto-group-kwqm-Lif {
        color: #ffffff;
        background-color: #0d478c;
        border-radius: 0.5rem;
        height: 4.0819rem;
        width: 40rem;
        font-size: 2rem;
        line-height: 1.1725;
        justify-content: center;
        margin: 0rem 0rem 7.347rem 0.1rem;
        font-weight: 400;
        font-family: Roboto Condensed, 'Source Sans Pro';
        display: flex;
        align-items: center;
        flex-shrink: 0;
        white-space: nowrap;
      }
      .auto-group-qhud-CVy {
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 5.3rem 0rem 3.4rem;
        width: calc(100% - 8.7rem);
        display: flex;

        .dont-have-an-account-yet-KqV {
          color: #2a1e17;
          white-space: nowrap;
          margin: 0rem 5rem 0.245rem 0rem;
          display: flex;
          line-height: 1.1725;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          font-family: Roboto Condensed, 'Source Sans Pro';
        }
        .register-for-free-RNj {
          margin-right: 0.2rem;
          display: flex;
          font-weight: 400;
          font-family: Roboto Condensed, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          line-height: 1.1725;
          color: #2a1e17;
        }
        .bi-facebook-9Jj {
          border-radius: 4rem;
          flex-shrink: 0;
          margin-bottom: 0.85rem;
          width: 2.4rem;
          height: 1.9593rem;
          overflow: hidden;
          position: relative;
        }
      }
    }
  }
}
