
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.sign-up-LV1 {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0.9rem 1.039rem 4.832rem 1.039rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;

  .auto-group-ff31-ry9 {
    margin: 0rem 1.961rem 7.235rem 0rem;
    width: calc(100% - 1.9612rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .portfolio-zpT {
      flex-shrink: 0;
      font-size: 4rem;
      font-weight: 700;
      white-space: nowrap;
      color: #2d2d2d;
      font-family: Roboto Condensed, 'Source Sans Pro';
      margin: 0.065rem 25.861rem 0rem 0rem;
      display: flex;
      line-height: 0.8859375;
    }
    .frame-361-ikT {
      column-gap: 5rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 0.465rem;
      display: flex;

      .home-Txw {
        flex-shrink: 0;
        display: flex;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.9966796637;
        color: #2d2d2d;
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
      }
      .about-1Uf {
        flex-shrink: 0;
        display: flex;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.9966796637;
        color: #2d2d2d;
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
      }
      .work-kh9 {
        display: flex;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.9966796637;
        color: #2d2d2d;
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .blog-JTm {
        flex-shrink: 0;
        display: flex;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.9966796637;
        color: #2d2d2d;
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
      }
      .contact-eGj {
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.9966796637;
        color: #2d2d2d;
      }
      .login-Pk7 {
        font-weight: 400;
        line-height: 0.9966796637;
        color: #2d2d2d;
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 3.2rem;
      }
      .sign-up-Yd1 {
        font-weight: 400;
        line-height: 0.9966796637;
        color: #0d478c;
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 3.2rem;
      }
    }
  }
  .loin-tRy {
    background-color: rgba(255, 255, 255, 0.3000000119);
    box-shadow: 0 0.4rem 7rem rgba(0, 0, 0, 0.1000000015);
    backdrop-filter: blur(1.5rem);
    width: 64.1rem;
    height: 68.1678rem;
    position: relative;
    border-radius: 4rem;
    flex-shrink: 0;
    margin-right: 1.9612rem;

    .sign-up-Qv7 {
      left: 11.7rem;
      display: flex;
      font-size: 3.8rem;
      white-space: nowrap;
      width: 11.5rem;
      position: absolute;
      font-weight: 400;
      line-height: 1.1725;
      color: #0d478c;
      font-family: Roboto Condensed, 'Source Sans Pro';
      height: 4.5rem;
      top: 11.7rem;
    }
    .email-iR1 {
      white-space: nowrap;
      height: 1.7rem;
      position: absolute;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.1725;
      color: #2a1e17;
      width: 3.1rem;
      left: 12rem;
      top: 19.0697rem;
      display: flex;
      font-family: Roboto Condensed, 'Source Sans Pro';
    }
    .auto-group-kehz-E8T {
      position: absolute;
      left: 12.1rem;
      font-weight: 400;
      line-height: 1.1725;
      color: #bcbec0;
      height: 4.0819rem;
      background-color: #ffffff;
      padding: 1.191rem 2.2rem 1.191rem 2.2rem;
      width: 40rem;
      top: 21.2259rem;
      display: flex;
      font-size: 1.4rem;
      font-family: Roboto Condensed, 'Source Sans Pro';
      white-space: nowrap;
      border: solid 0.1rem #000000;
      border-radius: 0.5rem;
      box-sizing: border-box;
    }
    .auto-group-mgef-rfd {
      box-sizing: border-box;
      width: 40rem;
      left: 11.8rem;
      color: #bcbec0;
      height: 4.0819rem;
      font-weight: 400;
      font-family: Roboto Condensed, 'Source Sans Pro';
      border: solid 0.1rem #000000;
      background-color: #ffffff;
      top: 38.8796rem;
      display: flex;
      border-radius: 0.5rem;
      padding: 1.191rem 2.2rem 1.191rem 2.2rem;
      position: absolute;
      font-size: 1.4rem;
      line-height: 1.1725;
      white-space: nowrap;
    }
    .confirm-password-Vib {
      width: 10.1rem;
      display: flex;
      font-size: 1.4rem;
      font-weight: 400;
      white-space: nowrap;
      height: 1.7rem;
      position: absolute;
      left: 11.7rem;
      top: 36.7rem;
      line-height: 1.1725;
      color: #2a1e17;
      font-family: Roboto Condensed, 'Source Sans Pro';
    }
    .auto-group-4ar1-C7D {
      height: 4.0819rem;
      position: absolute;
      top: 29.8796rem;
      font-weight: 400;
      white-space: nowrap;
      background-color: #ffffff;
      box-sizing: border-box;
      width: 40rem;
      border: solid 0.1rem #000000;
      color: #bcbec0;
      border-radius: 0.5rem;
      padding: 1.191rem 2.2rem 1.191rem 2.2rem;
      left: 12.1rem;
      display: flex;
      font-size: 1.4rem;
      line-height: 1.1725;
      font-family: Roboto Condensed, 'Source Sans Pro';
    }
    .new-password-diK {
      left: 12rem;
      font-size: 1.4rem;
      font-weight: 400;
      color: #2a1e17;
      font-family: Roboto Condensed, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.2rem;
      height: 1.7rem;
      display: flex;
      line-height: 1.1725;
      position: absolute;
      top: 27.7rem;
    }
    .auto-group-ekx7-YaP {
      width: 31.4rem;
      height: 2.8093rem;
      position: absolute;
      left: 15.4rem;
      top: 51.3504rem;
      display: flex;
      align-items: flex-end;

      .dont-have-an-account-yet-GmH {
        font-weight: 400;
        color: #2a1e17;
        font-family: Roboto Condensed, 'Source Sans Pro';
        display: flex;
        font-size: 1.4rem;
        line-height: 1.1725;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 5rem 0.245rem 0rem;
      }
      .register-for-free-ALs {
        margin-right: 0.2rem;
        font-size: 1.4rem;
        color: #2a1e17;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-weight: 400;
        line-height: 1.1725;
        font-family: Roboto Condensed, 'Source Sans Pro';
      }
      .bi-facebook-HwH {
        margin-bottom: 0.85rem;
        width: 2.4rem;
        height: 1.9593rem;
        overflow: hidden;
        position: relative;
        border-radius: 4rem;
        flex-shrink: 0;
      }
    }
    .auto-group-fch1-cTm {
      width: 40rem;
      display: flex;
      background-color: #0d478c;
      border-radius: 0.5rem;
      line-height: 1.1725;
      white-space: nowrap;
      justify-content: center;
      height: 4.0819rem;
      left: 12.4rem;
      font-size: 2rem;
      font-family: Roboto Condensed, 'Source Sans Pro';
      position: absolute;
      top: 45.8rem;
      font-weight: 400;
      color: #ffffff;
      align-items: center;
    }
  }
}
