
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.surface-pro-8-1-Dq5 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-js3z-AVR {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 33rem;

    .navigation-uT1 {
      box-sizing: border-box;
      padding: 2.835rem 15.06rem 2.835rem 4.961rem;
      height: calc(100% - 23.73rem);
      background-color: #ffffff;
      flex-shrink: 0;
      margin: 8rem 0rem 15.73rem 0rem;
      width: 151.2rem;
      display: flex;
      align-items: center;

      .portfolio-oHV {
        flex-shrink: 0;
        margin-right: 63.8387rem;
        display: flex;
        font-size: 4rem;
        line-height: 0.8859375;
        font-family: Roboto Condensed, 'Source Sans Pro';
        font-weight: 700;
        color: #2d2d2d;
        white-space: nowrap;
      }
      .menu-items-KFq {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0.165rem 0rem 0.235rem 0rem;
        height: calc(100% - 0.4rem);

        .home-Etb {
          color: #0d478c;
          font-family: Roboto Condensed, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 2.835rem;
          display: flex;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 0.9966796637;
          white-space: nowrap;
        }
        .about-AnF {
          line-height: 0.9966796637;
          font-family: Roboto Condensed, 'Source Sans Pro';
          margin-right: 2.835rem;
          font-size: 3.2rem;
          font-weight: 400;
          flex-shrink: 0;
          display: flex;
          color: #2d2d2d;
          white-space: nowrap;
        }
        .portfolio-W5R {
          margin-right: 2.835rem;
          font-size: 3.2rem;
          font-family: Roboto Condensed, 'Source Sans Pro';
          flex-shrink: 0;
          white-space: nowrap;
          display: flex;
          font-weight: 400;
          line-height: 0.9966796637;
          color: #2d2d2d;
        }
        .blog-qNb {
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 3.2rem;
          line-height: 0.9966796637;
          font-family: Roboto Condensed, 'Source Sans Pro';
          margin-right: 2.835rem;
          font-weight: 400;
          color: #2d2d2d;
        }
        .contact-BBZ {
          line-height: 0.9966796637;
          color: #2d2d2d;
          font-family: Roboto Condensed, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 3.2rem;
          font-weight: 400;
        }
      }
    }
    .auto-group-omdd-udM {
      margin-right: 446.6rem;
      width: 160.6rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .hi-i-am-patrick-rwirangira-full-stack-developer-FhD {
        position: absolute;
        left: 0;
        font-size: 4.4rem;
        font-weight: 700;
        line-height: 1.3636363636;
        width: 84rem;
        height: 6rem;
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
        top: 0;
        color: #21243d;
      }
      .amet-minim-mollit-non-deserunt-ullamco-est-sit-aliqua-dolor-do-amet-sint-velit-officia-consequat-duis-enim-velit-mollit-exercitation-veniam-consequat-sunt-nostrud-amet-9nb {
        position: absolute;
        font-weight: 400;
        color: #21243d;
        height: 2.9rem;
        left: 0;
        top: 4.1rem;
        font-size: 2.4rem;
        line-height: 1.1725;
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
        width: 160.2rem;
      }
      .frame-3-PS3 {
        left: 0;
        top: 16.9rem;
        display: flex;
        align-items: center;
        width: 44.3rem;
        height: 4.7rem;
        position: absolute;

        .group-2-iz7 {
          background-color: #0d478b;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 500;
          display: flex;
          color: #ffffff;
          align-items: center;
          margin-right: 586rem;
          height: 100%;
          line-height: 1.1725;
          width: 20.8rem;
          border-radius: 0.2rem;
          font-family: Roboto Condensed, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
        }
        .group-3-PqM {
          font-weight: 500;
          justify-content: center;
          flex-shrink: 0;
          width: 20.8rem;
          font-size: 2rem;
          font-family: Roboto Condensed, 'Source Sans Pro';
          background-color: #0d478c;
          height: 100%;
          align-items: center;
          border-radius: 0.2rem;
          line-height: 1.1725;
          color: #ffffff;
          white-space: nowrap;
          display: flex;
        }
      }
      .group-5-T4X {
        object-fit: contain;
        vertical-align: top;
        width: 26.3rem;
        height: 27.7rem;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .navigation-BmD {
    box-sizing: border-box;
    background-color: #ffffff;
    flex-shrink: 0;
    margin: 0rem 613.6rem 33.93rem 0rem;
    width: calc(100% - 613.6rem);
    height: 9.27rem;
    display: flex;
    align-items: center;
    padding: 2.835rem 15.06rem 2.835rem 4.961rem;

    .portfolio-XyV {
      flex-shrink: 0;
      margin-right: 601.6387rem;
      display: flex;
      font-size: 4rem;
      color: #2d2d2d;
      font-family: Roboto Condensed, 'Source Sans Pro';
      white-space: nowrap;
      font-weight: 700;
      line-height: 0.8859375;
    }
    .menu-items-GAP {
      margin: 0.165rem 0rem 0.235rem 0rem;
      height: calc(100% - 0.4rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .home-Bo9 {
        display: flex;
        font-size: 3.2rem;
        color: #0d478c;
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 530.3rem;
        font-weight: 400;
        line-height: 0.9966796637;
      }
      .about-KPZ {
        margin-right: 519.865rem;
        display: flex;
        line-height: 0.9966796637;
        color: #2d2d2d;
        font-family: Roboto Condensed, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .portfolio-Fo1 {
        font-weight: 400;
        margin-right: 505.93rem;
        font-size: 3.2rem;
        line-height: 0.9966796637;
        color: #2d2d2d;
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
      .blog-CCT {
        margin-right: 497.395rem;
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.9966796637;
        color: #2d2d2d;
        flex-shrink: 0;
      }
      .contact-jTH {
        display: flex;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.9966796637;
        color: #2d2d2d;
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-bknb-4kT {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10.2rem 0rem 4.6rem 0rem;
    width: 100%;
    align-items: flex-end;

    .auto-group-esdu-nwM {
      margin: 0rem 2rem 6.3rem 0rem;
      width: calc(100% - 2rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-ahij-XP9 {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 489.5rem;
        width: 138.7rem;

        .auto-group-11jr-GrX {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0rem 2.9rem 6.4rem 7.4rem;

          .work-orT {
            font-size: 4.4rem;
            font-weight: 700;
            line-height: 1.3636363636;
            color: #0d478c;
            font-family: Roboto Condensed, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 119.4rem 3.3rem 0rem;
          }
          .gallery-section-wBy {
            position: relative;
            background-color: #ffffff;
            width: 128rem;
            box-sizing: border-box;
            padding: 4.2rem 2.4rem 0rem 2.4rem;
            height: 50.3rem;
            overflow: hidden;
            flex-shrink: 0;
            margin: 0rem 0rem 3.2rem 0.4rem;

            .cards-section-Rcw {
              align-items: center;
              width: 100%;
              height: 86.2rem;
              display: flex;

              .auto-group-t5zb-aEw {
                margin-right: 564.9333rem;
                width: 39.4667rem;
                height: 100%;
                flex-shrink: 0;

                .gallery-card-KTR {
                  height: 41.9rem;
                  display: flex;
                  flex-direction: column;
                  width: 100%;

                  .image-sUw {
                    object-fit: cover;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-bottom: 2.4rem;
                    width: 39.4667rem;
                    height: 33rem;
                  }
                  .title-description-odV {
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: column;

                    .project-title-y2B {
                      margin-bottom: 0.8rem;
                      font-size: 2rem;
                      font-weight: 600;
                      line-height: 1.5;
                      color: #2d2d2d;
                      font-family: Epilogue, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .ui-art-drection-tuq {
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.7rem;
                      font-weight: 400;
                      line-height: 1.5882352941;
                      color: #2d2d2d;
                      font-family: Epilogue, 'Source Sans Pro';
                    }
                  }
                }
              }
              .auto-group-fxlp-RPy {
                margin-right: 523.0667rem;
                width: 39.4667rem;
                height: 100%;
                flex-shrink: 0;

                .component-9-ZWB {
                  height: 41.9rem;
                  display: flex;
                  flex-direction: column;
                  width: 100%;

                  .image-v5q {
                    margin-bottom: 2.4rem;
                    width: 39.4667rem;
                    height: 33rem;
                    object-fit: cover;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .title-description-4C3 {
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: column;

                    .project-title-ovK {
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-bottom: 0.8rem;
                      font-size: 2rem;
                      font-weight: 600;
                      line-height: 1.5;
                      color: #2d2d2d;
                      font-family: Epilogue, 'Source Sans Pro';
                    }
                    .ui-art-drection-Yd1 {
                      flex-shrink: 0;
                      font-size: 1.7rem;
                      font-weight: 400;
                      line-height: 1.5882352941;
                      color: #2d2d2d;
                      font-family: Epilogue, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                }
              }
              .auto-group-rohu-H4o {
                width: 39.4667rem;
                height: 100%;
                flex-shrink: 0;

                .component-10-duM {
                  width: 100%;
                  height: 41.9rem;
                  display: flex;
                  flex-direction: column;

                  .image-zV1 {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-bottom: 2.4rem;
                    width: 39.4667rem;
                    height: 33rem;
                    object-fit: cover;
                  }
                  .title-description-jBh {
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;

                    .project-title-6H9 {
                      font-size: 2rem;
                      font-weight: 600;
                      line-height: 1.5;
                      color: #2d2d2d;
                      font-family: Epilogue, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-bottom: 0.8rem;
                    }
                    .ui-art-drection-dns {
                      color: #2d2d2d;
                      font-family: Epilogue, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.7rem;
                      font-weight: 400;
                      line-height: 1.5882352941;
                    }
                  }
                }
              }
            }
          }
          .button-Y99 {
            height: 7.8rem;
            justify-content: center;
            background-color: #0d478c;
            margin: 0rem 53.65rem 0rem 47.25rem;
            display: flex;
            align-items: center;
            font-weight: 700;
            flex-shrink: 0;
            width: calc(100% - 100.9rem);
            color: #ffffff;
            font-family: Roboto Condensed, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2rem;
            line-height: 1.5;
          }
        }
        .contact-section-p6f {
          flex-direction: column;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 4.2rem 2.4rem 2.9rem 2.4rem;
          width: 100%;
          display: flex;

          .lets-work-together-XWs {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.3125;
            color: #2d2d2d;
            font-family: Roboto Condensed, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.4rem;
          }
          .contact-section-content-fNB {
            position: relative;
            flex-shrink: 0;
            width: 100%;
            height: 23.2rem;

            .contact-info-Csu {
              width: 120.6rem;
              height: 13.2rem;
              position: absolute;
              left: 0;
              top: 0;

              .this-is-a-template-figma-file-turned-into-code-using-anima-learn-more-at-animaappcom-this-is-a-template-figma-file-turned-into-code-using-anima-learn-more-at-animaappcom-MF1 {
                font-family: Roboto Condensed, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 6.9rem;
                font-size: 1.7rem;
                font-weight: 400;
                line-height: 1.5882352941;
                color: #2d2d2d;
              }
              .social-links-p8b {
                height: 3.6rem;
                object-fit: contain;
                vertical-align: top;
                width: 27.6rem;
              }
            }
            .contact-form-MeK {
              width: 52rem;
              height: 23.2rem;
              position: absolute;
              left: 0;
              top: 0;

              .input-fields-JZZ {
                margin-bottom: 2.4rem;
                width: 100%;
                align-items: center;
                display: flex;
                flex-direction: column;

                .input-field-FUo {
                  box-sizing: border-box;
                  position: relative;
                  font-size: 1.7rem;
                  color: #2d2d2d;
                  white-space: nowrap;
                  padding: 1.6rem 2.4rem;
                  width: 100%;
                  flex-shrink: 0;
                  margin-bottom: 1.2rem;
                  background-color: #f3f3f3;
                  overflow: hidden;
                  font-weight: 400;
                  line-height: 1.5882352941;
                  font-family: Roboto Condensed, 'Source Sans Pro';
                }
                .input-field-9KH {
                  background-color: #f3f3f3;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  width: 100%;
                  position: relative;
                  color: #2d2d2d;
                  line-height: 1.5882352941;
                  font-family: Roboto Condensed, 'Source Sans Pro';
                  white-space: nowrap;
                  padding: 1.6rem 2.4rem;
                  overflow: hidden;
                  font-size: 1.7rem;
                  font-weight: 400;
                }
              }
              .button-4BM {
                background-color: #2d2d2d;
                justify-content: center;
                color: #ffffff;
                display: flex;
                align-items: center;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.5;
                font-family: Roboto Condensed, 'Source Sans Pro';
                width: 18.5rem;
                height: 7.8rem;
                white-space: nowrap;
              }
            }
          }
        }
      }
      .auto-group-mj3d-MAT {
        margin-bottom: 0.1rem;
        width: 128.4rem;
        flex-shrink: 0;

        .auto-group-gp55-tgB {
          margin: 0rem 30.9rem 16.8rem 0rem;
          width: calc(100% - 30.9rem);
          display: flex;
          align-items: flex-end;

          .auto-group-f6kb-2XV {
            margin: 0rem 23.3rem 3.4rem 0rem;
            width: 47.9rem;
            flex-shrink: 0;

            .hi-i-am-patrick-rwirangira-full-stack-developer-ZnK {
              margin-bottom: 0.1rem;
              max-width: 47.9rem;
              font-size: 4.4rem;
              font-weight: 700;
              line-height: 1.3636363636;
              color: #21243d;
              font-family: Roboto Condensed, 'Source Sans Pro';
            }
            .amet-minim-mollit-non-deserunt-ullamco-est-sit-aliqua-dolor-do-amet-sint-velit-officia-consequat-duis-enim-velit-mollit-exercitation-veniam-consequat-sunt-nostrud-amet-so1 {
              max-width: 46rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.1725;
              color: #21243d;
              font-family: Roboto Condensed, 'Source Sans Pro';
              margin: 0rem 0rem 1.5rem 0.4rem;
            }
            .frame-2-j4X {
              margin: 0rem 3.2rem 0rem 0.4rem;
              width: calc(100% - 3.6rem);
              height: 4.7rem;
              display: flex;
              align-items: center;

              .group-2-3qu {
                height: 100%;
                color: #ffffff;
                align-items: center;
                flex-shrink: 0;
                width: 20.8rem;
                line-height: 1.1725;
                display: flex;
                justify-content: center;
                border-radius: 0.2rem;
                margin-right: 2.7rem;
                font-size: 2rem;
                background-color: #0d478b;
                font-weight: 500;
                font-family: Roboto Condensed, 'Source Sans Pro';
                white-space: nowrap;
              }
              .group-3-vuh {
                width: 20.8rem;
                color: #ffffff;
                white-space: nowrap;
                flex-shrink: 0;
                height: 100%;
                font-family: Roboto Condensed, 'Source Sans Pro';
                justify-content: center;
                display: flex;
                align-items: center;
                background-color: #0d478c;
                border-radius: 0.2rem;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.1725;
              }
            }
          }
          .group-4-cXd {
            height: 27.7rem;
            position: relative;
            flex-shrink: 0;
            width: 26.3rem;

            .ellipse-2-Zhm {
              width: 24.3rem;
              height: 24.3rem;
              position: absolute;
              left: 0;
              top: 3.4rem;
              background-color: #edf7fa;
              border-radius: 12.15rem;
            }
            .ellipse-1-h3H {
              height: 24.3rem;
              position: absolute;
              left: 2rem;
              background-position: center;
              border-radius: 12.15rem;
              width: 24.3rem;
              top: 0;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:d2d5e0ab44d572d87f4fb9db4c8fde5e8e97b818');
            }
          }
        }
        .work-PB1 {
          line-height: 1.3636363636;
          color: #0d478c;
          font-family: Roboto Condensed, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 3.3rem;
          font-size: 4.4rem;
          font-weight: 700;
        }
        .gallery-section-8PV {
          overflow: hidden;
          position: relative;
          background-color: #ffffff;
          margin: 0rem 0rem 3.2rem 0.4rem;
          box-sizing: border-box;
          padding: 4.2rem 2.4rem 0rem 2.4rem;
          width: 128rem;
          height: 50.3rem;

          .cards-section-2zf {
            display: flex;
            align-items: center;
            width: 100%;
            height: 86.2rem;

            .auto-group-wkmm-P4X {
              margin-right: 2.4rem;
              width: 39.4667rem;
              height: 100%;
              flex-shrink: 0;

              .gallery-card-LEf {
                width: 100%;
                height: 41.9rem;
                display: flex;
                flex-direction: column;

                .image-h5D {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 2.4rem;
                  width: 39.4667rem;
                  height: 33rem;
                  object-fit: cover;
                }
                .title-description-dDm {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .project-title-z4K {
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.8rem;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 1.5;
                    color: #2d2d2d;
                    font-family: Epilogue, 'Source Sans Pro';
                  }
                  .ui-art-drection-7ud {
                    font-size: 1.7rem;
                    font-weight: 400;
                    line-height: 1.5882352941;
                    color: #2d2d2d;
                    font-family: Epilogue, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
              }
            }
            .auto-group-pq27-TCo {
              margin-right: 2.4rem;
              width: 39.4667rem;
              height: 100%;
              flex-shrink: 0;

              .component-9-QNw {
                width: 100%;
                height: 41.9rem;
                display: flex;
                flex-direction: column;

                .image-Yzw {
                  flex-shrink: 0;
                  margin-bottom: 2.4rem;
                  width: 39.4667rem;
                  height: 33rem;
                  object-fit: cover;
                  vertical-align: top;
                }
                .title-description-h79 {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .project-title-SqR {
                    font-weight: 600;
                    line-height: 1.5;
                    color: #2d2d2d;
                    font-family: Epilogue, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.8rem;
                    font-size: 2rem;
                  }
                  .ui-art-drection-kbD {
                    font-weight: 400;
                    line-height: 1.5882352941;
                    color: #2d2d2d;
                    font-family: Epilogue, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.7rem;
                  }
                }
              }
            }
            .auto-group-w4sm-EmH {
              width: 39.4667rem;
              height: 100%;
              flex-shrink: 0;

              .component-10-BRd {
                width: 100%;
                height: 41.9rem;
                display: flex;
                flex-direction: column;

                .image-iwM {
                  height: 33rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 2.4rem;
                  width: 39.4667rem;
                }
                .title-description-U9q {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .project-title-qFH {
                    margin-bottom: 0.8rem;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 1.5;
                    color: #2d2d2d;
                    font-family: Epilogue, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .ui-art-drection-B4F {
                    line-height: 1.5882352941;
                    color: #2d2d2d;
                    font-family: Epilogue, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.7rem;
                    font-weight: 400;
                  }
                }
              }
            }
          }
        }
        .button-6h1 {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.5;
          white-space: nowrap;
          background-color: #0d478c;
          margin: 0rem 53.65rem 0rem 47.25rem;
          width: calc(100% - 100.9rem);
          height: 7.8rem;
          color: #ffffff;
          font-family: Roboto Condensed, 'Source Sans Pro';
        }
      }
    }
    .contact-section-mYF {
      width: 138.7rem;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4.2rem 2.4rem 2.9rem 2.4rem;

      .lets-work-together-J2P {
        font-weight: 700;
        line-height: 1.3125;
        color: #2d2d2d;
        font-family: Roboto Condensed, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.4rem;
        font-size: 3.2rem;
      }
      .contact-section-content-S8b {
        width: 100%;
        height: 23.2rem;
        display: flex;
        align-items: flex-start;

        .contact-info-PJj {
          margin-right: 15.8rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .this-is-a-template-figma-file-turned-into-code-using-anima-learn-more-at-animaappcom-this-is-a-template-figma-file-turned-into-code-using-anima-learn-more-at-animaappcom-Xfq {
            line-height: 1.5882352941;
            color: #2d2d2d;
            font-family: Roboto Condensed, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 4.2rem;
            max-width: 66.1rem;
            font-size: 1.7rem;
            font-weight: 400;
          }
          .social-links-au1 {
            width: 27.6rem;
            height: 3.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .contact-form-jG7 {
          width: 52rem;
          height: 100%;
          flex-shrink: 0;

          .input-fields-UzP {
            margin-bottom: 2.4rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .input-field-SRR {
              margin-bottom: 1.2rem;
              background-color: #f3f3f3;
              flex-shrink: 0;
              font-size: 1.7rem;
              line-height: 1.5882352941;
              white-space: nowrap;
              position: relative;
              box-sizing: border-box;
              padding: 1.6rem 2.4rem;
              width: 100%;
              overflow: hidden;
              font-weight: 400;
              color: #2d2d2d;
              font-family: Roboto Condensed, 'Source Sans Pro';
            }
            .input-field-JiX {
              white-space: nowrap;
              background-color: #f3f3f3;
              width: 100%;
              overflow: hidden;
              font-family: Roboto Condensed, 'Source Sans Pro';
              font-size: 1.7rem;
              font-weight: 400;
              line-height: 1.5882352941;
              color: #2d2d2d;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.6rem 2.4rem;
              position: relative;
            }
          }
          .button-QWf {
            background-color: #2d2d2d;
            width: 18.5rem;
            height: 7.8rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            font-family: Roboto Condensed, 'Source Sans Pro';
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
